---
import Redes from "./Redes.astro";
---

<section class="footer">
    <div class="contenido">
        <div class="texto">
            <p class="encabezado">¿Estás listo? Esta experiencia te espera, solo reserva.</p>
            <p class="descripcion">Las mejores experiencias suceden cuando decides dar el paso. No esperes más, el mar te está llamando.</p>
            <Redes />
        </div>
    </div>
    <p class="derechos">Mazatlán, Sinaloa. Copyright © Renta Yates 2024.</p>
</section>

<style>
    .footer {
        color: white;
        height: 100dvh;
        background: 
            linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0.8)),
            url('/17.jpg')
        ;
        background-position: center;
        background-size: cover;
        display: grid;
        place-items: center;
        position: relative;
    }

    .derechos {
        color: rgba(255, 255, 255, 0.2);
        position: absolute;
        bottom: 2%;

        @media (width <= 48rem) {
            font-size: .75rem;
        }
    }
</style>