---
const images = [
    { src: "/1.jpg", alt: "Imagen 1" },
    { src: "/personas.jpg", alt: "Imagen 2" },
    { src: "/3.jpg", alt: "Imagen 3" },
    { src: "/4.jpg", alt: "Imagen 4" },
    { src: "/5.jpg", alt: "Imagen 5" },
    { src: "/6.jpg", alt: "Imagen 6" },
    { src: "/7.jpg", alt: "Imagen 6" },
    { src: "/8.jpg", alt: "Imagen 6" },
    { src: "/9.jpg", alt: "Imagen 6" },
    { src: "/10.jpg", alt: "Imagen 6" },
    { src: "/11.jpg", alt: "Imagen 6" },
    { src: "/12.jpg", alt: "Imagen 6" },
    { src: "/13.jpg", alt: "Imagen 6" },
    { src: "/14.jpg", alt: "Imagen 6" },
    { src: "/15.jpg", alt: "Imagen 6" },
    { src: "/16.jpg", alt: "Imagen 6" },
];
---
<section class="contenido" id="gallery">
    <h3 class="encabezado">Momentos inolvidables en el mar</h3>
    <p class="descripcion txt-img">Disfruta actividades como veleo, snorkel, y nado en las tranquilas aguas de la Isla de Venados. Observa la fauna marina en su hábitat natural mientras recorres la bahía y sus alrededores.</p>
    <div class="image-gallery">
        {images.map((image) => (
            <div class="image-item">
                <img src={image.src} alt={image.alt} />
            </div>
        ))}
    </div>
</section>

<style>
    .txt-img {
        margin: 0 auto;
        padding-bottom: 1rem;
    }
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }

    .image-item {
        width: 100%;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .image-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center;
    }

    .image-item img:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    }
</style>