---
import Facebook from "src/icons/facebook.astro";
import Instagram from "src/icons/instagram.astro";
import Whatsapp from "src/icons/whatsapp.astro";
---

<section class="bg-[url('/10.jpg')] bg-center h-dvh bg-cover grid justify-center items-center">
    <div class="text-center">
        <h1 class="text-8xl font-extrabold">ALOHA</h1>
        <h2 class="text-2xl font-bold">RENTA DE YATES</h2>
        <div class="flex justify-around mt-4">
            <Facebook/>
            <Whatsapp/>
            <Instagram/>
        </div>
    </div>
</section>