---
import Link from "@layouts/Link.astro";
import IconoFacebook from "@icons/IconoFacebook.astro";
import IconoEmail from "@icons/IconoEmail.astro";
import IconoWhatsapp from "@icons/IconoWhatsapp.astro";
---

<ul>
    <Link
        to="https://www.facebook.com/tucana5"
        description="Facebook"
        class="text-blue-500 hover:text-blue-400"
    >
        <IconoFacebook/>
    </Link>
    <Link
        to="mailto:tucana5@hotmail.com"
        description="Email"
        class="text-red-600 hover:text-red-500"
    >
        <IconoEmail/>
    </Link>
    <Link
        to="https://wa.link/fofcou"
        description="Whatsapp"
        class="text-green-600 hover:text-green-500"
    >
        <IconoWhatsapp/>
    </Link>

    <span>¡Contáctanos!</span>
</div>

<style>
    ul {
        display: flex;
        justify-content: center;
        gap: 1.75rem;
        position: relative;
        width: min-content;
        margin: 1rem auto;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: var(--borderRadius);
    }

    span {
        color: #facc15;
        font-weight: bold;
        font-family: "Caveat", system-ui;
        font-size: 1.5rem;
        line-height: 2rem;
        pointer-events: none;

        position: absolute;
        right: -2.75rem;
        top: -0.875rem;
        transform: rotate(12deg);
    }
    
</style>