<section class="contenido" id="services">

    <h3 class="encabezado">¡Elige tu aventura perfecta!</h3>
    <div class="img">
        <h4 class="titulo">
            <span>TOUR</span>
            AVISTAMIENTO DE BALLENAS
        </h4>
    </div>

    <article>
        <div>
            <h5></h5>
            <p></p>
            <p></p>
            <redes></redes>
        </div>

        <aside>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </aside>
    </article>
</section>

<style>
    .img {
        --opacity: .4;
        height: 20rem;
        border-radius: .4rem;
        background: 
            linear-gradient(to top, rgba(0, 0, 0, var(--opacity)), rgba(0, 0, 0, var(--opacity))),
            url('/ballenas.jpg');
        background-position: center;

        display: grid;
        place-items: center;
    }

    .titulo {
        color: white;
        font-weight: bold;
        font-size: 2.25rem;
        position: relative;

        & span {
            color: #60c0e4;
            font-size: 1rem;
            position: absolute;
            top: -20%;
        }
    }
</style>