---
const services = [
  {
    name: "Trimaran Tambaran",
    img: '/tambaran.png',
    price: "$8000 MXN",
  },
  {
    name: "Trimaran THE FIGHTER",
    img: '/fighter.png',
    price: "$9000 MXN",
  },
  {
    name: "Meus Dois Amores",
    img: '/meus.png',
    price: "$10100 MXN",
  },
  {
    name: "Yate de lujo: Nautilus",
    img: '/nautilus.png',
    price: "$11000 MXN",
  },
  {
    name: "Yate Constanza",
    img: '/constanza.png',
    price: "$7500 MXN",
  },
  {
    name: "Mar y Sol",
    img: '/marysol.jpg',
    price: "$9950 MXN",
  }
];
---
<section class="contenido paquetes" id="services">
    <p class="encabezado">¡Elige tu aventura perfecta!</p>

    <div class="packages-grid">
        <div class="destacado">
            <p class="promo">¡ Reserva tu lugar !</p>
            <p class="precio">$1,200 MXN</p>
            <div class="titulo">
                <span>TOUR</span>
                <p>AVISTAMIENTO DE BALLENAS</p>
            </div>
            <div class="info">
                <p class="info-titulo">INCLUYE:</p>
                <p>- 4 horas de tour en embarcación (9am-1pm)</p>
                <p>- Desayuno a bordo (Cóctel de frutas y bebidas)</p>
                <p>- Hidrófono: Escucha el canto de las ballenas</p>
                <p>- Guía especializada en vida marina</p>
            </div>
        </div>
        
        <!-- {services.map((service) => (
            <div class={`package-card`}>
                <div class="image-placeholder">
                    <img src={service.img} alt={service.name}/>
                </div>
                <h3>{service.name}</h3>
                <p class="price">{service.price}</p>
            </div>
        ))} -->
    </div>
</section>

<style>

    .packages-grid {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 500px;
        grid-template-areas: 
            "Destacado Destacado";
        gap: 2rem;
    }
        
    /* .package-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.2s, box-shadow 0.2s;
    } */

    /* .package-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    } */

    .destacado {
        position: relative;
        grid-area: Destacado;

        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: .5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        --opacity: .9;
        background:
            linear-gradient(to bottom, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, var(--opacity))),
            url('/ballenas.jpg');
        background-position: center;
        background-size: cover;
        color: white;
    }
    .promo {
        font-weight: bold;
        font-size: 3rem;
        font-family: "Caveat", system-ui;
        color:  #fac815;
        position: absolute;
        left: 5%;
    }

    .precio {
        font-weight: bold;
        font-size: 4rem;
        color:  #178109;
        position: absolute;
        right: 5%;
        top: 1%;
    }

    .titulo {
        font-weight: bold;
        position: absolute;
        bottom: 10%;
        left: 5%;

        & span {
            font-size: 1rem;
            color: #60c0e4;
        }

        & p {
            line-height: .75;
            font-size: 2rem;
        }
    }

    .info {
        font-size: 1.25rem;
        font-weight: bold;
        position: absolute;
        bottom: 8.75%;
        right: 5%;
    }

    /* .image-placeholder {
        height: 150px;
        overflow: hidden;
    }
    
    .image-placeholder img{
        width: 100%;
        background: #e0e0e0;
        border-radius: 8px;
        margin-bottom: 1rem;
    }

    .price {
        font-weight: bold;
        margin-top: 0.5rem;
    } */
</style>
