---
import TextoSeparador from "./TextoSeparador.astro";

const videos: string[] = [
    '/video1.mp4',
    '/video2.mp4',
    '/video3.mp4',
    '/video4.mp4',
    '/video5.mp4',
    '/video6.mp4',
    '/video7.mp4',
];
---
<section class="contenido">
    <TextoSeparador
        encabezado="Descubre lo que te espera en esta experiencia inolvidable." 
        subencabezado="Cada video es solo un vistazo de lo que podrás vivir en persona."
    />

<div class="carrusel-contenedor">
    <div class='carrusel'>
    {videos.concat(videos).map((video: string) => (
      <video
        src={video}
        autoplay
        loop
        muted
        playsinline
        class="video-item"
      />
    ))}
  </div>
</div>
</section>

<style>

    section {
        margin-bottom: calc(var(--separacion) * 2);
    }

    @keyframes scroll {
        from { transform: translateX(0); }
        to { transform: translateX(-50%); }
    }

    .carrusel-contenedor {
        overflow: hidden;
        width: 100%;
    }

    .carrusel {
        --duracion: 90s;
        display: flex;
        gap: 1.5rem;
        width: max-content;
        animation: scroll var(--duracion) linear infinite;
    }

    .video-item {
        width: 16rem;
        aspect-ratio: 9 / 16;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        object-fit: cover;
        border-radius: var(--borderRadius);
        pointer-events: none;
    }
</style>